.crud-dialog {
    padding: 20px;
    border: none;
    border-radius: 8px;
    max-width: 750px;
    width: 90%;

    &::backdrop {
        background: rgb(180, 37, 146, 0.5);
    }

    .crud-dialog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 30px;
    }

    .close-button {
        &:hover {
            border: none;
        }
    }
}