.bus-table {
    .scroll-indicator {
        &.left {
            left: 100px;
            top: 62px;
            height: calc(100% - 62px);
        }

        &.right {
            top: 62px;
            height: calc(100% - 62px);
        }
    }

    .bus-row {
        grid-template-columns: 100px 2fr repeat(7, 1fr) 3fr;
        min-width: 1500px;

        @media screen and (min-width: 764px) {
            grid-template-columns: 100px 4fr repeat(7, 1fr) 3fr;
        }
    }

    .bus-cell {
        &.bus-id {
            font-weight: bold;
            cursor: pointer;

            &:hover {
                color: #b42592;
            }
        }
    }
}