.filter-wrapper {
    position: relative;
    display: inline-block;

    .filter-button {
        background: none;
        cursor: pointer;
        width: auto;

        &:after {
            content: '';
            display: block;
            background-image: url("../../assets/filter_icon.svg");
            background-size: cover;
            width: 36px;
            height: 36px;
        }
    }

    .filter-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 5px); /* appears below the button */
        left: -284px;
        z-index: 10;
        width: 350px;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        font-size: 14px;
        padding: 10px;
        opacity: 0;
        transform: translateY(-5px);
        pointer-events: none;
        transition: opacity 0.2s ease, transform 0.2s ease;

        @media screen and (min-width: 764px) {
            width: 450px;
            left: -384px;
        }

        &.open {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }

        .filter-include {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;

            @media screen and (min-width: 764px) {
                padding-bottom: 10px;
            }

            p {
                margin-right: 5px;
            }
        }

        .filter_byinput {
            display: flex;
            justify-content: space-between;

            .filter-input {
                width: 250px;
                margin-right: 10px;

                @media screen and (min-width: 764px) {
                    width: 300px;
                }
            }
        }
    }
}