.stations-table {
    .scroll-indicator {
        &.left {
            left: 199px;
            top: 50px;
            height: calc(100% - 50px);
        }

        &.right {
            top: 50px;
            height: calc(100% - 50px);
        }
    }

    .station-row {
        grid-template-columns: 200px repeat(4, 1fr);
        min-width: 800px;

        @media screen and (min-width: 764px) {
            grid-template-columns: 500px repeat(4, 1fr);
        }
    }

    .station-cell {
        &.station-name {
            font-weight: bold;
            cursor: pointer;

            &:hover {
                color: #b42592;
            }
        }
    }
}