.table {
    box-shadow:
            inset -4px 0 4px -4px #ccc,  /* right */
            inset 0 4px 4px -4px #ccc,   /* top */
            inset 0 -4px 4px -4px #ccc;  /* bottom */
    font-size: 14px;

    .table-header {
        background-color: #f4f4f4;
        font-weight: bold;
        border-bottom: 2px solid #ccc;
    }

    .table-row {
        display: grid;
        border-bottom: 1px solid #eee;
        font-size: 14px;

        &.row-details {
            display: block; /* make it full-width */
            padding: 20px;
            background-color: rgba(180, 37, 146, 0.15);
            border-left: 2px solid #ccc;
            position: relative;
            z-index: 10;

            p {
                margin: 10px 0;
            }

            .row-actions {
                padding: 10px 0;

                button {
                    margin-right: 10px;
                }
            }
        }
    }

    .table-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-right: 1px solid #f0f0f0;
        text-align: center;

        &.sticky {
            position: sticky;
            left: 0;
            background: white; /* or match your theme */
            z-index: 2; /* make sure it stays above others */
            box-shadow: 2px 0 2px rgba(0, 0, 0, 0.05), /* right */
                        inset 4px 0 4px -4px #ccc;   /* left */
        }

        &:last-child {
            border-right: none;
        }

        a {
            text-decoration: none;
            color: #a5276b;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Custom tooltip styling */
.custom-tooltip-all,
.custom-tooltip-desktop-only {
    display: block;
    background-color: #333;
    color: #fff;
    font-size: 0.875rem;
    padding: 6px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 40;
    max-width: 350px;
}

.custom-tooltip-desktop-only {
    display: none;

    @media screen and (min-width: 764px) {
        display: block;
    }
}