.bus-dialog {
    padding: 20px;
    border: none;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;

    .bus-dialog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 30px;

        .bus-dialog-title {
            color: #b42592;
        }
    }

    .close-button {
        &:hover {
            border: none;
        }
    }
}