.add-vehicle-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;

    .form-row {
        padding: 10px;

        &.full-width {
            grid-column: 1 / -1;
        }

        &.first {
            input {
                width: 93%;
            }
        }
    }

    input {
        padding: 6px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    select {
        height: 30px;
        text-align: center;
    }

    input,
    select {
        width: 100%;
        margin-top: 10px;
    }

    textarea {
        width: 100%;
        height: auto;
        resize: none;       /* prevents manual resizing */
        box-sizing: border-box; /* ensures padding/border don't overflow the width */
    }

    button {
        margin-left: 10px;
    }
}