.App {
  text-align: center;
}

main {
  padding: 20px;

  .main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-actions {
    display: flex;
    align-items: center;
  }

  .main-content {
    display: inline-grid;
    position: relative;
    width: 100%;
    margin-top: 10px;

    .main-content-tabs {
      display: flex;
      background-color: #a5276b;
      color: #fff;
      border-radius: 6px 6px 0 0;
      font-weight: bold;
      overflow-x: auto;

      .tabs-tab {
        display: flex;
        justify-content: center;
        min-width: 70px;
        cursor: pointer;
        padding: 15px;
        margin: 1px;
        font-size: 14px;

        @media screen and (min-width: 764px) {
          min-width: 100px;
          padding: 20px;
          font-size: 16px;
        }

        &:hover,
        &.active {
          background-color: white;
          box-shadow: 2px 2px 0 0 #a5276b inset;
          border-radius: 6px 6px 0 0;
          color: #a5276b;
          height: 15px;

          @media screen and (min-width: 764px) {
            height: 18px;
          }
        }
      }
    }
  }
}

button {
  width: 120px;
  min-height: 40px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button.primaryButton {
  background-color: #a5276b;
  color: #fff;

  &:hover {
    border: 3px solid #a5276b;
    background-color: #fff;
    color: #a5276b;
  }
}

button.secondaryButton {
  background-color: white;
  color: #a5276b;

  &:hover {
    border: 3px solid #fff;
    background-color: #a5276b;
    color: #fff;
  }
}

button.deleteButton {
  background-color: #a41010;
  color: #fff;

  &:hover {
    border: 3px solid #a41010;
    background-color: #fff;
    color: #a41010;
  }
}

button.filter {
  font-size: 14px;

  &:hover {
    border: none;
  }
}

.custom-textarea {
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  resize: vertical; /* allow height adjustment, change to none to lock */
  transition: all 0.3s ease;

  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  }
}