.App {
  text-align: center;
}

main {
  padding: 20px;

  .main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  .main-actions {
    display: flex;
    align-items: center;
  }

  .main-content {
    display: inline-grid;
    position: relative;
    width: 100%;
    margin-top: 10px;

    .main-content-tabs {
      display: flex;
      background-color: #b42592;
      color: #fff;
      border-radius: 6px 6px 0 0;
      font-weight: bold;
      overflow-x: auto;

      .tabs-tab {
        display: flex;
        justify-content: center;
        min-width: 80px;
        cursor: pointer;
        padding: 15px;
        margin: 1px;
        font-size: 14px;

        @media screen and (min-width: 764px) {
          min-width: 100px;
          padding: 20px;
          font-size: 16px;
        }

        &:hover,
        &.active {
          background-color: white;
          box-shadow: 2px 2px 0 0 #b42592 inset;
          border-radius: 6px 6px 0 0;
          color: #b42592;
          height: 15px;

          @media screen and (min-width: 764px) {
            height: 18px;
          }
        }
      }
    }
  }
}

button {
  width: 120px;
  min-height: 40px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button.primaryButton {
  background-color: #b42592;
  color: #fff;

  &:hover {
    border: 3px solid #b42592;
    background-color: #fff;
    color: #b42592;
  }
}

button.secondaryButton {
  background-color: white;
  color: #b42592;

  &:hover {
    border: 3px solid #fff;
    background-color: #b42592;
    color: #fff;
  }
}

button.deleteButton {
  background-color: #a41010;
  color: #fff;

  &:hover {
    border: 3px solid #a41010;
    background-color: #fff;
    color: #a41010;
  }
}

button.filter {
  font-size: 14px;

  &:hover {
    border: none;
  }
}