.auth-form {
    display: flex;

    form {
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 20px;
        font-size: 14px;

        .auth-form-email-container,
        .auth-form-password-container {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
        }

        input {
            margin-right: 10px;
            height: 25px;
        }
    }

    p {
        display: flex;
        flex-direction: column;
    }
}