.custom-form {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 2fr;

    .form-row {
        padding: 10px;

        &.full-width {
            grid-column: 1 / -1;
        }
    }

    input {
        padding: 6px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    select {
        height: 30px;
        text-align: center;
    }

    input,
    select,
    textarea {
        width: 100%;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        margin-top: 10px;
        box-sizing: border-box; /* ensures padding/border don't overflow the width */
    }

    textarea {
        resize: none;       /* prevents manual resizing */
    }

    .deleteButton {
        margin-left: 10px;
    }
}