html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in Safari */
  text-size-adjust: 100%;         /* Prevent font scaling in other mobile browsers */
}

body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
